<section id="portfolio" class="{{ section.background_style }}">
  <div class="container-fluid p-0"> <! -- qui si può cambiare il tipo di container, controlla in creative.scss i vari tipi -->
    <div class="row no-gutters">
      {% for proj in section.projects %}
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/img/potfolio/fullsize/{{ proj.icon }}">
          <img class="img-fluid" src="assets/img/portfolio/fullsize/{{ proj.icon }}" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              {{ proj.title }}
            </div>
            <div class="project-name">
              {{ proj.text }}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
